---

---

<section id="faq" class="px-6 py-14 mx-auto lg:pt-40">
    <h2 class="mb-12 text-3xl text-center font-bold text-white lg:text-5xl">
        Preguntas frecuentes
    </h2>
    <div
        id="accordion-flush"
        data-accordion="collapse"
        data-active-classes="bg-emerald-400"
        data-inactive-classes="text-gray-400"
    >
        <h2 id="accordion-flush-heading-1">
            <button
                type="button"
                class="flex items-center justify-between w-full py-5 px-3 font-medium text-gray-400 border-b border-gray-500 gap-3 lg:text-lg lg:px-6"
                data-accordion-target="#accordion-flush-body-1"
                aria-expanded="false"
                aria-controls="accordion-flush-body-1"
            >
                <span>¿Cómo iniciamos con mi proyecto?</span>
                <svg
                    data-accordion-icon
                    class="w-3 h-3 rotate-180 shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"></path>
                </svg>
            </button>
        </h2>
        <div
            id="accordion-flush-body-1"
            class="hidden"
            aria-labelledby="accordion-flush-heading-1"
        >
            <div class="py-5 px-3 border-b border-gray-500">
                <p class="mb-2 text-gray-400 lg:text-lg">
                    El proceso comienza cuando nos contactas para discutir tu proyecto.
                    Después de elegir tu paquete, te pediremos algunos archivos e
                    información sobre tu negocio. Luego, procedemos con el diseño y te
                    enviaremos avances para que puedas hacer correcciones. Repetiremos
                    este proceso hasta que estés satisfecho con el diseño. <br> Una vez aprobado
                    el diseño, comenzaremos la etapa de desarrollo para convertirlo en una
                    increíble página web.
                </p>
            </div>
        </div>
        <h2 id="accordion-flush-heading-2">
            <button
                type="button"
                class="flex items-center justify-between w-full py-5 px-3 font-medium text-gray-400 border-b border-gray-500 gap-3 lg:text-lg lg:px-6"
                data-accordion-target="#accordion-flush-body-2"
                aria-expanded="false"
                aria-controls="accordion-flush-body-2"
            >
                <span>¿Cuánto tiempo tarda la entrega de mi proyecto?</span>
                <svg
                    data-accordion-icon
                    class="w-3 h-3 rotate-180 shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"></path>
                </svg>
            </button>
        </h2>
        <div
            id="accordion-flush-body-2"
            class="hidden"
            aria-labelledby="accordion-flush-heading-2"
        >
            <div class="py-5 px-3 border-b border-gray-500">
                <p class="mb-2 text-gray-400 lg:text-lg">
                    Normalmente los plazos de entrega van desde los 7 a los 15 días dependiendo el paquete que elijas, los tiempos de entrega los especificamos en nuestro presupuesto.
                </p>
            </div>
        </div>
        <h2 id="accordion-flush-heading-3">
            <button
                type="button"
                class="flex items-center justify-between w-full py-5 px-3 font-medium text-gray-400 border-b border-gray-500 gap-3 lg:text-lg lg:px-6"
                data-accordion-target="#accordion-flush-body-3"
                aria-expanded="false"
                aria-controls="accordion-flush-body-3"
            >
                <span>¿Cuál es la forma de pago?</span>
                <svg
                    data-accordion-icon
                    class="w-3 h-3 rotate-180 shrink-0"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 10 6"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M9 5 5 1 1 5"></path>
                </svg>
            </button>
        </h2>
        <div
            id="accordion-flush-body-3"
            class="hidden"
            aria-labelledby="accordion-flush-heading-3"
        >
            <div class="py-5 px-3 border-b border-gray-500">
                <p class="mb-2 text-gray-400 lg:text-lg">
                    Si acepta nuestro presupuesto se le invitará a pagar el 50% por adelantado y el resto al finalizar el proyecto. <br>Aceptamos transferencias y depósitos bancarios.
                </p>
            </div>
        </div>
    </div>
</section>
